torch
transformers
tokenizers
numpy
matplotlib
nltk
tqdm
scikit-learn
numba==0.56.4
pyzmq==19.0.2
openai==0.27.2
tiktoken==0.3.2
pandas==1.5.2
pyarrow==10.0.1
scipy==1.7.3
six==1.16.0
datasests==1.18.3
torchvision==0.12.0+cu113
sentencepiece==0.1.99
openpyxl==3.1.2
aif360==0.5.0
huggingface-hub==0.14.1